body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to right, #232526, #414345);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

header h1 {
    color: #000000;

} 

h2 {
    color: #ff5555e3;
}

header h2 {
    color: #CEC8FF;
}



.site-footer{
    padding: 20px 0;
    background: linear-gradient( to right, #eb3349, #f45c43);
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background: linear-gradient(to right, #232526, #414345);
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background: linear-gradient( to right, #eb3349, #f45c43);
}

.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}